<div id="pointer"><div class="text-content"><h1 style="text-align:center">{{title}}</h1></div></div>
<hr style="color:black"> 
<p></p>
<div class="container" id="div">
<div class="container"><input class="input" type="text" placeholder="What do you have planned?" #task>
&nbsp;
<span><button   class="btn btn-dark" (click)="addTask(task.value)" type="submit"><img id="img" src="../assets/new icon.jpg" alt=""> Add New</button></span>
</div>

<ul class="unordered" type="square" *ngFor="let item of list">
   <li><input id="in" type="text" placeholder="{{item.name}}" readonly >  &nbsp;  <button class="btn btn-outline-danger"  (click)="removeTask(item.id)" type="submit"><img id="img" src="../assets/768370.png" alt=""></button></li>
</ul>
</div>